body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial;
}

.carousel {
    position: relative;
    width: 400px;
    height: 250px;
}

.carousel img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.prev { left: 10px; }
.next { right: 10px; }

.btn:hover {
    opacity: 1;
}
